body {
  padding: 0;
  margin: 0;
  font-family: "Delius", cursive;
  font-weight: bold;
  font-style: normal;
}

nav {
  background-color: rgb(255, 180, 217);
  padding: 4px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls-container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.input-container {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

input {
  height: 24px;
  width: 50px;
  border-radius: 6px;
  border: none;
  padding: 4px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="color"] {
  height: 30px;
  width: 50px;
  padding: 2px 4px;
}

button {
  padding: 8px 12px;
  background-color: turquoise;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Delius", cursive;
  font-weight: bold;
  font-style: normal;
}

button:hover {
  background-color: rgb(136, 243, 232);
}

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  height: 640px;
  width: 640px;
  /* border: 1px solid #666; */
}

.square {
  flex: 1 1 auto;
  box-sizing: border-box;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  cursor: pointer;
}

.border-right {
  border-right: 1px solid #666;
}

.border-bottom {
  border-bottom: 1px solid #666;
}